<div class="container">
  <div class="row m-5">
    <div class="col-12 col-md-4 bg-light m-5 py-3">
      <h2>Sign Up</h2>
      <form action="/signup" method="POST">
        <!-- Sign-up form fields -->
        <input
          type="text"
          name="name"
          placeholder="Username"
          class="py-1 my-1 d-block"
        />
        <!-- <input type="email" name="email" placeholder="Email" /> -->
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="py-1 my-1 d-block"
        />
        <button type="submit" class="btn btn-primary d-block">
          Sign Up
        </button>
      </form>
    </div>
    <div class="col-12 col-md-4 bg-light m-5 py-3">
      <h2>Log In</h2>
      <form action="/login" method="POST">
        <!-- Log-in form fields -->
        <input
          type="text"
          name="name"
          placeholder="Username"
          class="py-1 my-1 d-block"
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="py-1 my-1 d-block"
        />
        <button type="submit" class="btn btn-primary d-block">
          Log In
        </button>
      </form>
    </div>
  </div>
</div>