{{#each usersPosts}}

  <div class="card my-1 mx-3" onclick="showComment()">
    <h5 class="card-header d-flex justify-content-between">{{title}}
      <span class="fs-6 fw-lighter">Created by:
        {{this.user.username}}
        at

        {{format_time date}}</span></h5>

    <div class="card-body">

      <p class="card-text">
        {{content}}
      </p>
    </div>
  </div>
  {{! Comment}}
  <div class="form-floating mx-5 comment-hide" id="comment">
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea"
    ></textarea>
    <label for="floatingTextarea" class="fw-lighter">Leave a comment here</label>
    <button class="btn btn-primary clo-2 my-1">Save</button>
  </div>

{{/each}}