<div class="container">

  <div class="row m-5">
    <div class="col-12 col-md-4 bg-light m-5 py-3">
      <h2>Log In</h2>
      <form id="loginForm" action="/login" method="POST">
        <!-- Log-in form fields -->
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          class="py-1 my-1 d-block"
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          class="py-1 my-1 d-block"
        />
        <button type="submit" class="btn btn-primary d-block">
          Log In
        </button>
        <h5>If you don't have an account,
          <a href="signup">Click here</a></h5>
      </form>

      {{#if message}}
        <div><h6>{{message}}</h6></div>
      {{/if}}
    </div>
  </div>
</div>