<form action="" method="post" class="my-3 mx-4">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control border-1 border-black"
      id="title"
      placeholder="Title"
    />
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <textarea
      class="form-control border-1 border-black"
      id="content"
      rows="3"
    ></textarea>
  </div>
  <button class="btn btn-primary col-2">Save</button>

</form>