<div class="card my-1 mx-3">
  <h5 class="card-header d-inline">{{title}}Title</h5>
  <h6 class="card-title d-inline">Created by:
    {{user}}
    user at
    {{date}}
    date</h6>
  <div class="card-body">

    <p class="card-text">
      {{content}}
    </p>
    <button class="btn btn-primary">Post</button>
  </div>
</div>